.container_item{
    display: grid;
    grid-template-columns: 50px 2fr 1fr 30px auto;
    grid-auto-rows: 40px;
    gap: 55px;
    margin: 20px 0;
    align-items: center;
}
.container_item img{
    height: 70px;
    object-fit: contain;
}
.container_item button {
    width: 100%;
}
